.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

.BackButton {
    transition: opacity 350ms !important;
    opacity: 1;
}

.disabledAnim {
    opacity: 0;
}

.MuiIconButton-colorInherit {
    background: white;
}

.SignInPage>h4,
.GameMenu>h4 {
    color: white;
    background: #f35588;
    margin: -20px -20px 20px -20px;
    padding: 10px 0px;
    border-radius: 4px 4px 0px 0px;
}

.wordContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wordContainer>div {
    font-size: 30px;
}

.newScore {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1.02);
    }

    50% {
        transform: scale(0.995);
    }
}